{% extends "layout.html" %}

{% block content %}
<div class="container mt-5 arabic-paragraph">
    <h2>إنشاء كلمة مرور جديدة</h2>
    <form action="{{ url_for('password_reset', token=token) }}" method="POST">
        <div class="mb-3">
            <label for="new_password" class="form-label">كلمة المرور الجديدة</label>
            <input type="password" class="form-control" id="new_password" name="new_password" required>
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">تأكيد كلمة المرور الجديدة</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
        </div>
        <button type="submit" class="btn btn-primary">إعادة تعيين كلمة المرور</button>
    </form>
</div>
{% endblock %}