

{% extends "layout.html" %}  

{% block content %}
<div class="container mt-5 arabic-paragraph" >
    <h2>إعادة تعيين كلمة المرور</h2>
    <form action="{{ url_for('send_password_reset') }}" method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">عنوان البريد الإلكتروني</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary">إرسال رابط إعادة تعيين كلمة السر</button>
    </form>
</div>
{% endblock %}